{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/Stylesheet.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Energy Management System Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<input type="hidden" id="myVar" name="variable" value="{{ data }}">

<div class="header">
  <h1>Energy Management System</h1>
</div>

<div class="navbar" id="myNavbar">
  <a href="{% url 'dashboard' %}" class="active"><i class="fa fa-fw fa-home"></i>Home</a>
  <a href="{% url 'admin:energy_tracker_schedule_add' %}" target="_blank"><i class="fa fa-fw fa-calendar-plus-o"></i> Add Schedule</a>
  <a href="{% url 'admin:energy_tracker_trackerentry_changelist' %}" target="_blank"><i class="fa fa-fw fa-database"></i> Database</a>
  <a href="{% url 'admin:index' %}" target="_blank"><i class="fa fa-fw fa-cogs"></i> Admin Panel</a>
  <a href="{% url 'about' %}" class="right"><i class="fa fa-fw fa-id-card-o"></i> About Us</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
</div>  

<div class="row">

    <div class="leftcol">
        <script src="{% static 'js/highcharts.js' %}"></script>
        <script src="https://code.highcharts.com/modules/data.js"></script>
        <div id="container" style="min-width: 100%; height: 100%; margin: 0 auto"></div>

        <select class="dropdown" id="room" onChange="filter_room()">
          <option {% if room == 'T101' %}selected{% endif %} value="T101">T101</option>
          <option {% if room == 'T102' %}selected{% endif %} value="T102">T102</option>
        </select>
        <button id="hourly" {% if freq == 'hourly' %}disabled{% endif %} class="button" onclick="btn1()">HOURLY</button>
        <button id="daily" {% if freq == 'daily' %}disabled{% endif %} class="button" onclick="btn2()">DAILY</button>
        <button id="weekly" {% if freq == 'weekly' %}disabled{% endif %} class="button" onclick="btn3()">WEEKLY</button>
        <button id="monthly" {% if freq == 'monthly' %}disabled{% endif %} class="button" onclick="btn4()">MONTHLY</button>
        <button id="yearly" {% if freq == 'yearly' %}disabled{% endif %} class="button" onclick="btn5()">YEARLY</button>
    </div>

</div>
</body>
<script src="{% static 'js/CreateChart.js' %}"></script>
<script src="{% static 'js/ButtonControls.js' %}"></script>
<script>
  function myFunction() {
    var x = document.getElementById("myNavbar");
    if (x.className === "navbar") {
      x.className += " responsive";
    } else {
      x.className = "navbar";
    }
  }
</script>
</html>
